.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    width: 100px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
  }

  input[type="text"],
  select {
    padding: 6px;
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    background-color: white;
  }

  .disabledInput {
    background-color: #f0f0f0;
    color: grey;
  }

  .enabledInput {
    background-color: white;
    color: black;
  }
}
