.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    width: 100px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
  }

  .statusGroup {
    display: flex;
    align-items: center;
    gap: 15px;

    label {
      font-weight: normal;
      display: flex;
      align-items: center;
      color: black;

      input[type="radio"] {
        margin-right: 5px;
      }
    }
  }

  .disabledInput {
    background-color: #f0f0f0;
    pointer-events: none;
  }
}
